<div class="jumbotron">
  <div ng-repeat='message in vm.messages'>
    {{ message.user}} - {{ message.text }}
  </div>
</div>

<div class="row marketing">
  <input type='text' class='form-control' placeholder='username' ng-model='vm.currentUser' />
  <div class='input-group'>
    <input type="text" class='form-control' placeholder='message' ng-model='vm.currentText'/>
    <span class='input-group-btn'>
      <button class='btn btn-default' type='button' ng-click='vm.sendMessage()'>Send</button>
    </span>
  </div>
</div>
